.new-mint   
    visibility: hidden
    &.active
        visibility: visible
        .odlabs-section
            transition: all .5s ease
            visibility: visible
            clip-path: inset(0% 0 0 0)
        .footer-media
            display: flex
            position: fixed
            pointer-events: none
            .footer-social
                pointer-events: visible
    .footer-media
        display: none
        z-index: 5
    .odlabs-section
        display: flex
        position: fixed
        visibility: hidden
        width: 100%
        height: 100vh
        top: 0
        align-items: center
        background: #000
        z-index: 4
        transition: all .5s ease
        justify-content: center
        clip-path: inset(100% 0 0 0)
        video
            width: gem(680)
            height: gem(680)
            position: absolute
        .pixelate
            display: flex
            width: gem(1100)
            position: absolute
        .burn-card
            display: flex
            opacity: 0
            font-family: 'chakra-bold'
            font-size: gem(36)
            line-height: gem(48)
            transition: all .3s ease
            text-transform: uppercase
            text-decoration: underline
            color: #ffffff
            transform: translateY(gem(100))
            &:hover
                text-decoration: none
        .flash 
            position: absolute
            width: 100%
            height: 100%
        .successfulnew-text
            display: flex
            flex-direction: column
            align-items: center
            position: absolute
            opacity: 0
            transform: translateY(gem(100))
            pointer-events: none
            h2
                font-family: 'type-regular'
                font-size: gem(90)
                line-height: gem(90)
                letter-spacing: gem(4)
            p
                font-size: gem(50)
                line-height: gem(60)
                letter-spacing: gem(4)


@media all and (max-width: 515px)
    .new-mint 
        .odlabs-section
            height: calc(var(--vh, 1vh) * 100)
            .pixelate 
                width: gem(500)
                object-fit: contain
            video
                width: gem(390)
                height: gem(390)
            .burn-card
                width: gem(300)
                text-align: center
            .successfulnew-text
                h2 
                    font-size: gem(30)
                    line-height: gem(32)
                p 
                    font-size: gem(17)
                    line-height: gem(25)
                    letter-spacing: gem(2)
                    width: gem(375)
            .flash 
                height: unset



    
    
    
    
    
// .holders-mint
    visibility: hidden
    &.active
        visibility: visible
        .fnic-section
            visibility: visible
            clip-path: inset(0% 0 0 0)
        .footer-media
            display: flex
            position: fixed
            pointer-events: none
            .footer-social
                pointer-events: visible
    .footer-media
        display: none
        z-index: 5
// .fnic-section
    display: flex
    position: fixed
    visibility: hidden
    width: 100%
    height: 100vh
    top: 0
    align-items: center
    background: #000
    z-index: 5
    transition: all .5s ease
    justify-content: center
    clip-path: inset(100% 0 0 0)
    .from-video
        display: flex
        width: 100%
        height: 100%
        align-items: center
        justify-content: center
        position: absolute
    video
        width: gem(680)
        height: gem(680)
        // top: gem(36)
        position: absolute
    .content 
        display: flex
        flex-direction: row
        justify-content: space-between
        h3 
            font-size: gem(30)
            line-height: gem(40)
            text-align: start
            font-weight: 600
            letter-spacing: gem(4)
            color: #ffffff
            margin-bottom: gem(40)
            font-family: 'roboto-bold'
        h2
            font-size: gem(58)
            line-height: gem(78)
            text-align: start
            letter-spacing: gem(2)
            font-family: 'roboto-bold'
        &-left
            display: flex
            flex-direction: column
            margin-left: gem(34)
            p 
                font-size: gem(17)
                line-height: gem(20)
                text-align: start
                font-family: 'rajdhani-medium'
                width: gem(430)
                letter-spacing: gem(1)
                margin-bottom: gem(52)
            a 
                display: flex
                align-items: center
                svg 
                    width: gem(54)
                    height: gem(54)
                    margin-right: gem(20)
                    // path 
                    //     fill: #B9EC3D
                span 
                    display: block
                    position: relative
                    color: #ffffff
                    font-family: "rajdhani-bold"
                    font-size: gem(28)
                    transition: all .3s ease
                    line-height: gem(32)
                    text-transform: uppercase
                    &::after
                        content: ''
                        display: block
                        position: absolute
                        transition: all .3s ease
                        transform: translateY(gem(2))
                        width: 100%
                        height: gem(2)
                        background: #ffffff
                &:hover
                    svg 
                        path
                            animation: colors 1s linear infinite
                    span 
                        color: #02B3FF
                        &::after
                            background: #02B3FF
                &.active 
                    pointer-events: none
        &-right
            display: flex
            flex-direction: column
            margin-right: gem(150)
            opacity: 0
            transform: translateY(gem(100))
            transition: all .3s ease
            .cell-count 
                display: flex
                align-items: center
                margin-bottom: gem(40)
                h2 
                    font-size: gem(24)
                    line-height: gem(28)
                    letter-spacing: gem(3)
            .cell 
                display: flex
                align-items: center
                margin-right: gem(12)
                font-weight: 900
                .but
                    display: flex
                    justify-content: center
                    align-items: center
                    width: gem(54)
                    height: gem(44)
                    border: 1px solid #ffffff
                    border-radius: gem(5) 0 0 gem(5)
                    background: none
                    color: #ffffff
                    font-size: gem(30)
                    line-height: 1px
                    padding-bottom: gem(3)
                    &:nth-of-type(2)
                        border-radius: 0 gem(5) gem(5) 0
                span 
                    width: gem(54)
                    height: gem(44)
                    border: 1px solid #ffffff
                    display: flex
                    justify-content: center
                    font-family: 'rajdhani-bold'
                    align-items: center
                
            .number 
                font-size: gem(24)
                color: #ffffff
                font-weight: bold
            p
                font-size: gem(17)
                line-height: gem(20)
                text-align: start
                width: gem(378)
                letter-spacing: 1px
                font-family: 'roboto-medium'
                font-weight: 600
                margin-bottom: gem(12)
            input 
                width: gem(372)
                height: gem(28)
                background: none
                border: 1px solid #ffffff
                padding-left: gem(8)
                outline: none
                color: #E4E6EB
                font-size: gem(16)
                line-height: gem(22)
                letter-spacing: gem(1)
                margin-bottom: gem(11)
                flex-shrink: 0
                border-radius: gem(5)
            .enter
                .from-input
                    display: flex
                    flex-direction: column
                    overflow-y: scroll
                    overflow-x: hidden
                    height: gem(80)
                    margin-bottom: gem(104)
                    /* width */
                    &::-webkit-scrollbar 
                        width: gem(2)
                    /* Track */
                    &::-webkit-scrollbar-track 
                        background: #333333
                    /* Handle */
                    &::-webkit-scrollbar-thumb 
                        background: #FFFFFF
                .from-scroll
                    display: none
            .connect
                width: gem(240)
                height: gem(52)
                background: #000000
                background-size: 100% 100%
                clip-path: url(#my-clip-path-new)
                display: flex
                justify-content: center
                align-items: center
                position: relative
                overflow: hidden
                border-radius: gem(6)
                margin-bottom: gem(12)
                svg
                    width: 100%
                    height: 100%
                    position: absolute
                    z-index: 1
                    top: 0
                    left: 0
                    path
                        transition: all .3s ease
                        width: 100%
                        height: 100%
                &:after
                    content: ''
                    width: 100%
                    height: 0
                    background: #000000
                    position: absolute
                    mix-blend-mode: difference
                    bottom: 0
                    // border-radius: gem(6)
                    clip-path: url(#my-clip-path-new)
                    transition: all .3s ease
                span
                    font-family: 'rajdhani-bold'
                    letter-spacing: gem(2)
                    font-size: gem(28)
                    line-height: gem(36)
                    color: #000000
                    display: block
                    transform-style: preserve-3d
                    transform: translateY(-100%)
                    transition: all .3s ease
                    z-index: 2
                p
                    display: flex
                    flex-direction: column
                    letter-spacing: normal
                    text-align: center
                    flex-shrink: 0
                    width: 100%
                    margin-top: gem(20)
                    margin-bottom: 0
                    height: gem(52)
                    overflow: hidden
                &:hover
                    span
                        color: #fff
                        transform: translateY(0%)
                    &:after
                        height: 100%
                    svg 
                        path 
                            fill: #000
                &.active
                    pointer-events: none
            .total
                width: gem(240)
                text-align: end
.lulusha
    display: none
    &.active
        display: flex
.card-insert
    display: none
    &.active
        display: flex
.fnic-loading
    display: none
    &.active
        display: flex
.fnic-authorised
    display: none
    &.active
        display: flex
.self-destruct
    display: none
    &.active
        display: flex
.static-noise
    display: none
    &.active
        display: flex
.scan-lulu
    display: none
    transform: scale(0)
    margin-top: gem(100)
    mix-blend-mode: hard-light
    &.active
        display: flex
.lulusha-after
    display: none
    transform: scale(0)
    margin-top: gem(100)
    &.active
        display: flex
.flash
    display: none
    width: 100%
    height: 100%
    mix-blend-mode: screen
    &.active
        display: flex
    
.after-successful-section
    display: none
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    align-items: center
    justify-content: center
    z-index: 5
    background: #000000
    video
        width: gem(680)
        height: gem(680)
        // top: gem(36)
        position: absolute
    .flash 
        width: 100%
        height: 100%
    .scan-lulu
        mix-blend-mode: hard-light
    .successful-text
        display: flex
        flex-direction: column
        align-items: center
        position: absolute
        transform: translateY(gem(0))
        opacity: 0
        h2
            font-size: gem(50)
            line-height: gem(70)
            letter-spacing: gem(11)
            margin: gem(60) 0 gem(28)
            letter-spacing: gem(2)
            font-family: 'roboto-bold'
        h3 
            color: #ffffff
            font-family: 'roboto-bold'
            font-size: gem(30)
            line-height: gem(36)
            text-transform: uppercase
            letter-spacing: gem(4)
            width: gem(690)
            text-align: center
    .content 
        display: flex
        flex-direction: row
        justify-content: flex-end
        opacity: 0
        transform: translateY(gem(100))
        transition: all .3s ease
        &-right 
            display: flex
            width: gem(489)
            flex-direction: column
            h2
                font-size: gem(58)
                line-height: gem(78)
                letter-spacing: gem(2)
                text-align: start
                font-family: 'roboto-bold'
            h3 
                font-size: gem(30)
                line-height: gem(40)
                text-align: start
                font-weight: 600
                letter-spacing: gem(4)
                color: #ffffff
                margin-bottom: gem(20)
                font-family: 'roboto-bold'
            p 
                font-family: 'roboto-medium'
                font-size: gem(17)
                line-height: gem(20)
                text-align: start
                width: gem(430)
                letter-spacing: gem(1)
                margin-bottom: gem(32)
            .connect 
                width: gem(241)
                background: #000000
                border-radius: gem(6)
                clip-path: url(#my-clip-path-new)
                svg 
                    z-index: 1
                p 
                    width: gem(241)    
                    text-align: center
                    margin-bottom: 0
                    span 
                        font-family: 'rajdhani-bold'
                        letter-spacing: gem(2)
                        color: #000000
                        z-index: 2
                &:after
                    background: #000000
                &:hover
                    span
                        color: #fff
                        transform: translateY(0%)
                    &:after
                        height: 100%
                    svg 
                        path 
                            fill: #000
            .tabs
                position: relative
                margin-bottom: gem(28)
                padding-left: gem(12)
                &::after
                    content: ''
                    display: flex
                    width: gem(211)
                    height: gem(40)
                    position: absolute
                    left: 0
                    background: #ffffff
                    border-radius: gem(6)
                    top: gem(-4)
                    z-index: -1
                    transition: all .5s ease
                span
                    font-family: 'rajdhani-bold'
                    letter-spacing: gem(3)
                    font-weight: 700
                    color: #000
                    font-size: gem(28)
                    line-height: gem(32)
                    text-transform: uppercase
                    margin-right: gem(36)
                    transition: all .5s ease
                    &:nth-of-type(2)
                        margin-right: 0
                        color: #fff
                &.active 
                    &::after
                        transform: translateX(gem(220))
                        width: gem(170)
                    span 
                        color: #ffffff
                        &:nth-of-type(2)
                            color: #000000
                &-container 
                    display: flex
                    width: gem(420)
                    position: relative
                    overflow: hidden
                    height: gem(227)
                    margin-bottom: gem(32)
                    &-inside
                        display: flex
                        flex-direction: row-reverse
                        width: gem(855)
                        position: absolute
                        transition: all .5s ease
                        justify-content: flex-end
                        transform: translateX(gem(-440))
                        .properties
                            display: flex
                            flex-direction: column
                            width: gem(405)
                            h3 
                                text-transform: uppercase
                                margin-bottom: gem(20)
                            &-list 
                                display: flex
                                flex-direction: column
                                height: gem(167)
                                overflow-y: scroll
                                /* width */
                                &::-webkit-scrollbar 
                                    width: gem(2)
                                /* Track */
                                &::-webkit-scrollbar-track 
                                    background: #333333
                                /* Handle */
                                &::-webkit-scrollbar-thumb 
                                    background: #FFFFFF
                                &-li 
                                    display: flex
                                    p 
                                        margin-bottom: gem(20)
                        .addresses
                            display: flex
                            width: gem(420)
                            flex-direction: column
                            margin-right: gem(30)
                            &-list 
                                display: flex
                                position: relative
                                .check
                                    display: flex
                                    position: relative
                                    width: gem(21)
                                    .ok
                                        width: gem(12)
                                        position: absolute
                                        right: 0
                                    .error
                                        width: gem(21)
                                        position: absolute
                                        right: 0
                                        opacity: 0
                                p 
                                    margin-bottom: gem(20)
                        
                    &.active 
                        .tabs-container-inside
                            transform: translateX(gem(0))
           
@keyframes colors
    0% 
        fill: #ffffff
    15%
        fill: #E04226
    30% 
        fill: #E0267F
    45% 
        fill: #9747FF
    60% 
        fill: #02B3FF
    75% 
        fill: #B9EC3D
    85%
        fill: #FFB800
    100%
        fill: #ffffff
.error-message
    display: none
    position: fixed
    width: 100%
    height: 100%
    z-index: 5
    top: 0
    background: #000
    padding: gem(50) 0 0 gem(100)
    video 
        width: gem(600)
        object-fit: contain
    &.active
        display: flex

.popup-sound
    display: flex
    flex-direction: column
    width: gem(316)
    height: gem(200)
    padding: gem(20)
    position: fixed
    bottom: gem(30)
    left: gem(30)
    z-index: 5
    border: 1px solid #fff
    p 
        font-family: 'type-regular'
        font-size: gem(16)
        line-height: gem(22)
        letter-spacing: 1px
        width: gem(276)
        text-align: start
        margin-bottom: gem(38)
    .yorn 
        display: flex
        align-items: center
        justify-content: space-around
        .ans
            display: flex
            align-items: center
            position: relative
            width: gem(131)
            height: gem(32)
            justify-content: center
            span 
                font-family: 'chakra-bold'
                font-size: gem(28)
                line-height: gem(34)
                color: #fff
                text-transform: uppercase
                margin-right: gem(10)
                transition: all .3s ease
            svg 
                display: block
                width: gem(32)
                height: gem(32)
                transition: all .3s ease
                path 
                    stroke: #fff 
            &::after
                content: ''
                opacity: 0
                background: url("../images/dist/framesound.svg") no-repeat 
                background-size: 100% 100%
                position: absolute
                width: gem(131)
                height: gem(52)
                z-index: -1
                transition: all .3s ease
            &:nth-of-type(2)
                span
                    filter: invert(1)
                svg 
                    filter: invert(1)
                &::after
                    opacity: 1
    &.active 
        width: gem(36)
        height: gem(36)
        padding: 0
        border: none
        left: gem(36)
        bottom: gem(80)
        p 
            display: none
        .yorn
            display: none
    .hide-icon 
        display: none
        position: absolute
        svg
            display: block
            position: absolute
            width: gem(32)
            height: gem(32)
        &.active 
            display: flex
    &.mintact
        .hide-icon 
            display: flex
            .onMusicSmall
                opacity: 0
                z-index: -1
            .offMusicSmall
                opacity: 1
                z-index: 1
.footer-logo-always
    width: gem(117)
    position: fixed
    bottom: gem(20)
    z-index: 5
    opacity: 0
    bottom: gem(22)
    left: gem(32)
    &.active
        opacity: 1
                            
// .public-mint
    visibility: hidden
    &.active
        display: flex
        visibility: visible
        .fnic-section
            visibility: visible
            clip-path: inset(0% 0 0 0)
        .footer-media
            display: flex
            position: fixed
    .footer-media
        display: none
        z-index: 5
        // &.active
        //     display: flex
    .fnic-section 
        display: flex
        visibility: hidden
        .lulusha 
            display: flex
            z-index: 1
        .successful-text
            display: flex
            flex-direction: column
            align-items: center
            position: absolute
            opacity: 0
            transform: translateY(gem(-300))
            h2
                font-size: gem(50)
                line-height: gem(70)
                letter-spacing: gem(5)
                margin: gem(60) 0 gem(28)
                font-family: 'roboto-bold'
            h3 
                color: #ffffff
                font-family: 'roboto-bold'
                font-size: gem(30)
                line-height: gem(36)
                text-transform: uppercase
                letter-spacing: gem(4)
                width: gem(690)
                text-align: center
        .content-right 
            z-index: 1
            opacity: 1
            margin-right: gem(50)
            transform: translateY(0)
            p 
                width: gem(460)
                margin-bottom: gem(40)
            .total
                width: gem(240)
            .connect 
                clip-path: url(#my-clip-path-public)
                border-radius: gem(6)
                background: #000000
                svg 
                    z-index: 1
                p 
                    margin: gem(20) 0 0 0
                    width: gem(240)
                    span 
                        font-family: 'rajdhani-bold'
                        letter-spacing: gem(2)
                        color: #000000
                        z-index: 2
                &:after
                    background: #000000
                &:hover
                    span
                        color: #fff
                        transform: translateY(0%)
                    &:after
                        height: 100%
                    svg 
                        path 
                            fill: #000
                &.active 
                    pointer-events: none
            .cell 
                .but 
                    font-size: gem(30)
        .content-left 
            .tabs
                position: relative
                margin-bottom: gem(28)
                padding-left: gem(12)
                &::after
                    content: ''
                    display: flex
                    width: gem(211)
                    height: gem(40)
                    position: absolute
                    border-radius: gem(5)
                    left: 0
                    background: #ffffff
                    top: gem(-4)
                    z-index: -1
                    transition: all .5s ease
                span
                    font-family: 'rajdhani-bold'
                    letter-spacing: gem(3)
                    font-weight: 700
                    color: #000
                    font-size: gem(28)
                    line-height: gem(32)
                    text-transform: uppercase
                    margin-right: gem(36)
                    transition: all .5s ease
                    &:nth-of-type(2)
                        margin-right: 0
                        color: #fff
                &.active 
                    &::after
                        transform: translateX(gem(220))
                        width: gem(170)
                    span 
                        color: #ffffff
                        &:nth-of-type(2)
                            color: #000000
                &-container 
                    display: flex
                    width: gem(420)
                    position: relative
                    overflow: hidden
                    height: gem(227)
                    &-inside
                        display: flex
                        flex-direction: row-reverse
                        width: gem(855)
                        position: absolute
                        transition: all .5s ease
                        justify-content: flex-end
                        .properties
                            display: flex
                            flex-direction: column
                            width: gem(405)
                            h3 
                                text-transform: uppercase
                                margin-bottom: gem(20)
                            &-list 
                                display: flex
                                flex-direction: column
                                height: gem(167)
                                overflow-y: scroll
                                 /* width */
                                &::-webkit-scrollbar 
                                    width: gem(2)
                                /* Track */
                                &::-webkit-scrollbar-track 
                                    background: #333333
                                /* Handle */
                                &::-webkit-scrollbar-thumb 
                                    background: #FFFFFF
                                &-li 
                                    display: flex
                                    p 
                                        margin-bottom: gem(20)
                                &-li 
                                    display: flex
                                    p 
                                        margin-bottom: gem(20)
        &.active
            .content
                flex-direction: row-reverse
                &-left 
                    margin: 0 gem(80) 0 0
                &-right
                    margin: 0 0 0 gem(34)
                    .cell-count
                        display: none
                    .connect 
                        display: none
                    .total 
                        display: none
    
@media all and (max-width: 515px)
    .footer-logo-always
        display: none
    .popup-sound
        display: flex
        bottom: unset
        top: 50%
        left: 10%
        z-index: 6
        .yorn 
            .ans 
               &::after
                    transform: translateX(gem(0))

        &.active 
            bottom: unset
            top: gem(72)
            left: unset 
            right: gem(20)
        &.totop
            top: gem(20)
    // .holders-mint
        &.active
            .footer-media
                display: none
            
    // .fnic-section
    //     height: calc(var(--vh, 1vh) * 100)
    //     overflow-y: scroll 
    //     flex-direction: column
    //     justify-content: flex-start
    //     .from-video
    //         display: flex
    //         position: relative
    //         width: gem(390)
    //         height: gem(390)
    //     video 
    //         width: gem(390)
    //         height: gem(390)
    //         top: 0
    //         position: relative
    //     .content
    //         flex-direction: column
    //         height: calc(var(--vh, 1vh) * 100)
    //         min-height: unset
    //         h2 
    //             font-size: gem(42)
    //             line-height: gem(42)
    //             margin-bottom: gem(8)
    //         h3 
    //             margin-bottom: gem(20)
    //         &-right
    //             display: none
    //             margin-right: 0
    //             position: relative
    //             bottom: gem(0)
    //             .cell-count
    //                 margin-bottom: gem(28)
    //             p 
    //                 width: gem(298)
    //             input 
    //                 width: gem(300)
    //                 border-radius: 0
    //             .enter 
    //                 width: gem(330)
    //                 position: relative
    //                 .from-input
    //                     position: relative
    //                     height: gem(100)
    //                     margin-bottom: gem(40)
    //                     /* width */
    //                     &::-webkit-scrollbar 
    //                         display: none
    //                     /* Track */
    //                     &::-webkit-scrollbar-track 
    //                         background: #333333
    //                     /* Handle */
    //                     &::-webkit-scrollbar-thumb 
    //                         background: #FFFFFF
    //                 .from-scroll
    //                     display: flex
    //                     flex-direction: column
    //                     position: absolute
    //                     top: gem(51)
    //                     right: 0
    //                     width: gem(16)
    //                     height: gem(28)
    //                     justify-content: space-around
    //                     align-items: center
    //                     border: 1px solid #808080
    //                     svg
    //                         width: gem(6)
    //                         height: gem(3)
                        
                            
    //             .connect 
    //                 margin: 0 auto gem(12)
    //             .total 
    //                 margin: 0 auto gem(20)
    //             .cell 
    //                 .but 
    //                     font-size: gem(20)
    //             .connect 
    //                 p
    //                     margin-top: gem(20)
    //                     span 
    //                         font-size: gem(23)
    //                         line-height: gem(36)
    //         &-left 
    //             display: none
    //             position: relative
    //             margin-left: 0
    //             // bottom: gem(90)
    //             p 
    //                 width: gem(322)
    //                 font-size: gem(16)
    //                 line-height: gem(22)
    //                 margin-bottom: gem(28)
    //             a 
    //                 margin-bottom: gem(50)
    //         &.show-left
    //             .content-right 
    //                 display: none
    //         &.show-right
    //             .content-left 
    //                 display: none
    // .after-successful-section
    //     height: calc(var(--vh, 1vh) * 100)
    //     overflow: scroll
    //     z-index: 6
    //     align-items: flex-start
    //     &.over
    //         overflow: scroll
    //     video 
    //         width: gem(390)
    //         height: gem(390)
    //         top: 0
    //     .successful-text
    //         h2 
    //             font-size: gem(42)
    //             line-height: gem(42) 
    //             width: gem(389)
    //             margin-top: gem(112)
    //             letter-spacing: gem(5)
    //         h3
    //             width: gem(350)
    //             font-size: gem(22)
    //             line-height: gem(26)
    //     .content 
    //         flex-direction: column
    //         justify-content: flex-start
    //         margin-bottom: gem(0)
    //         &-right 
    //             width: gem(322)
    //             margin-top: gem(320)
    //             p 
    //                 font-size: gem(16)
    //                 line-height: gem(22)
    //                 width: gem(322)
    //             .tabs 
    //                 display: flex
    //                 width: gem(322)
    //                 padding-left: gem(0)
    //                 justify-content: space-around
    //                 &::after
    //                     width: gem(161)
    //                 span 
    //                     display: flex
    //                     justify-content: center
    //                     width: gem(161)
    //                     font-size: gem(17)
    //                     line-height: gem(32)
    //                     margin-right: gem(0)
    //                 &.active 
    //                     &::after
    //                         transform: translateX(gem(161))
    //                         width: gem(161)
    //                 &-container
    //                     width: gem(340)
    //                     &-inside
    //                         width: gem(600)
    //                         transform: translateX(gem(-340))
    //                         .addresses
    //                             width: gem(320)
    //                             margin-right: gem(20)
    //                         .properties
    //                             width: gem(320)
    //             .connect 
    //                 margin: 0 auto gem(40)
    // .public-mint
        &.active
            .footer-media
                display: none
        .fnic-section 
            height: calc(var(--vh, 1vh) * 100)
            overflow-y: scroll
            overflow-x: hidden
            video 
                width: gem(390)
                height: gem(390)
                top: 0
            .scan-lulu
                position: absolute
            .successful-text
                transform: translateY(gem(200))
                h2 
                    font-size: gem(42)
                    line-height: gem(42) 
                    width: gem(389)
                    margin-top: gem(112)
                    letter-spacing: gem(5)
                h3
                    width: gem(350)
                    font-size: gem(22)
                    line-height: gem(26)
            .content
                flex-direction: column
                justify-content: flex-start
                margin-top: gem(0)
                margin-bottom: gem(0)
                h2 
                    font-size: gem(42)
                    line-height: gem(42)
                    margin-bottom: gem(8)
                h3 
                    margin-bottom: gem(20)
                p 
                    width: gem(298)
                &-left
                    display: flex
                    position: relative
                    bottom: unset
                    margin-left: 0
                    align-items: center
                    .tabs 
                        width: gem(324)
                        padding-left: 0
                        span 
                            width: 100%
                            height: gem(34)
                            display: flex
                            justify-content: center
                        &::after
                            width: 100%
                        &-container 
                            width: gem(324)
                            margin-bottom: gem(40)
                            h3 
                                font-size: gem(22)
                                line-height: gem(26)
                            p 
                                font-size: gem(28)
                                line-height: gem(20)
                            &-inside 
                                width: gem(310)
                &-right 
                    display: flex
                    position: relative
                    bottom: unset
                    margin-right: 0
                    p 
                        width: gem(322)
                    .connect 
                        margin: auto 
                    .total 
                        margin: gem(12) auto gem(40)
                    
            &.active
                .content
                    flex-direction: column-reverse
                    justify-content: flex-end
                    &-right 
                        margin: 0
                    &-left 
                        margin: 0
    .error-message
        padding: 0
        video
            // display: none
            width: gem(390)
            object-fit: contain
    