@import './common/vars.sass'
@import './common/gem.scss'
@import 'blocks/**/*'

*
	box-sizing: border-box

html, body
	width: 100%

body,
main
	overflow-x: hidden
main
	height: 100%
body
	display: flex
	flex-direction: column
	font-family: var(--main-font)
	font-size: gem(16)
	line-height: gem(20)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility
	&.hiddenlines
		::-webkit-scrollbar 
			display: none
	&.unscroll
		overflow: hidden

a
	text-decoration: none
	outline: none

img
	max-width: 100%
	height: auto

section
	position: relative
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	// visibility: hidden
.container
	position: relative
	width: var(--container-width)
	min-width: var(--container-width)
	margin: 0 auto

input , textarea
	&::-webkit-input-placeholder,
	&::placeholder
		transition: all .3s
	&:focus
		&::-webkit-input-placeholder,
		&::placeholder
			color: transparent

button
	cursor: pointer

//start here
.background-video
	width: 100%
	height: 100vh
	position: fixed
	top: 0
	left: 0
	object-fit: cover
body
	background: #010101
.preloader
	background: #131313
	width: 100%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0
	left: 0
	z-index: 2
	lottie-player
		width: gem(1000)
		position: relative
		z-index: 1
	&-curtain
		width: 200%
		height: 50%
		position: absolute
		bottom: -50%
		z-index: 2
		border-radius: 50% 50% 0% 0% 
		background: #010101
		&.close
			animation: 1s openCurtain forwards
@keyframes openCurtain 
	0%
		height: 50%
		width: 200%
		border-radius: 50% 50% 0% 0% 
		animation-timing-function: linear
	75%
		height: 125%
		width: 200%
		border-radius: 50% 50% 0% 0% 
		animation-timing-function: linear
	100%
		width: 300%
		height: 150%
		border-radius: 30% 30% 0% 0% 
		animation-timing-function: linear

main
	padding-bottom: 60vh
.brain-section
	width: 100%
	min-height: gem(1000)
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	video
		width: gem(700)
		object-fit: cover
.portal-section
	width: 100%
	min-height: gem(1000)
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	video
		width: gem(1000)
		object-fit: cover
		margin-bottom: gem(-50)
.content
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
h2
	font-family: "type-bold"
	font-size: gem(72)
	line-height: gem(97)
	color: #fff
	text-align: center
p
	font-family: "type-regular"
	font-size: gem(30)
	line-height: gem(36)
	color: #E4E6EB
	width: gem(900)
	text-align: center