@font-face
	src: url("../fonts/Type-Bold/Type-Bold.woff2") format("woff2"), url("../fonts/Type-Bold/Type-Bold.woff") format("woff")
	font-family: "type-bold"
@font-face
	src: url("../fonts/Type-Medium/Type-Medium.woff2") format("woff2"), url("../fonts/Type-Medium/Type-Medium.woff") format("woff")
	font-family: "type-medium"
@font-face
	src: url("../fonts/Type-Regular/Type-Regular.woff2") format("woff2"), url("../fonts/Type-Regular/Type-Regular.woff") format("woff")
	font-family: "type-regular"
@font-face
	src: url("../fonts/ChakraPetch-Bold/ChakraPetch-Bold.woff2") format("woff2"), url("../fonts/ChakraPetch-Bold/ChakraPetch-Bold.woff") format("woff")
	font-family: "chakra-bold"
@font-face
	src: url("../fonts/ChakraPetch-Regular/ChakraPetch-Regular.woff2") format("woff2"), url("../fonts/ChakraPetch-Regular/ChakraPetch-Regular.woff") format("woff")
	font-family: "chakra-regular"
@font-face
	src: url("../fonts/ChakraPetch-Light/ChakraPetch-Light.woff2") format("woff2"), url("../fonts/ChakraPetch-Light/ChakraPetch-Light.woff") format("woff")
	font-family: "chakra-light"
@font-face
	src: url("../fonts/Rajdhani-Bold/Rajdhani-Bold.woff2") format("woff2"), url("../fonts/Rajdhani-Bold/Rajdhani-Bold.woff") format("woff")
	font-family: "rajdhani-bold"
@font-face
	src: url("../fonts/Rajdhani-Medium/Rajdhani-Medium.woff2") format("woff2"), url("../fonts/Rajdhani-Medium/Rajdhani-Medium.woff") format("woff")
	font-family: "rajdhani-medium"
@font-face
	src: url("../fonts/RobotoMono-Medium/RobotoMono-Medium.woff2") format("woff2"), url("../fonts/RobotoMono-Medium/RobotoMono-Medium.woff") format("woff")
	font-family: "roboto-medium"
@font-face
	src: url("../fonts/RobotoMono-Bold/RobotoMono-Bold.woff2") format("woff2"), url("../fonts/RobotoMono-Bold/RobotoMono-Bold.woff") format("woff")
	font-family: "roboto-bold"
